<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="js/pouchdb-4.0.0.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
  <body ng-app="starter" ng-controller="HomeCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Expense Checker</h1>
        <button class="button" ng-click="openModal()">Add</button>
      </ion-header-bar>

      <ion-view title="iPouch">
        <ion-content>
        <ul class="list">
            <li ng-repeat="i in items" class="item">
              Amount spent on {{i.expense}} is {{i.amount}}
            </li>
        </ul>
        </ion-content>
      </ion-view>

      <script id="my-modal.html" type="text/ng-template">

        <ion-modal-view>
          <ion-header-bar>
            <h1 class="title">Add Expense</h1>
          </ion-header-bar>
          <ion-content>

            
            <div class="list">
              <label class="item item-input">
                <input type="text" ng-model="item.expense" placeholder="Expense">
              </label>
              <label class="item item-input">
                <input type="number" ng-model="item.amount" placeholder="Amount">
              </label>
              <button ng-click="add()" class="button button-full button-positive">
                Add Expense
              </button>
              
            </div>
          </ion-content>
        </ion-modal-view>
      </script>
    </ion-pane>
  </body>
</html>
